{{!< default}}

{{!-- The main content area on the homepage --}}
<main class="content" role="main">

    <div class="slogen">
        <div class="container">
            <div class="row">
                <div class="col s12 m12 l12">
                    <h1 class="slogen-title">Every thing about</h1>
                    <p class="tag">「{{tag.name}}」</p>
                </div>
            </div>
        </div>
    </div>
    <div class="parallax-container">
        <div class="parallax"><img src="/assets/images/main.jpg"></div>
    </div>

    {{!-- The tag below includes the post loop - partials/loop.hbs --}}
    {{> "loop"}}

</main>
